* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --color-base: #0e2844;
  --color-secondary: #ff6525;
  --color-background: #fafafa;
  --color-soft: #fff9f4;

  /*fonts*/
  font-size: 10px;
  --sd-font-size: 2rem;
  --medium-font-size: 2.5rem;
  --big-font-size: 3.5rem;
  --h1-font-size: 5.5rem;
  --li-font-size: 1.8rem;

  /*padding*/
  --sd-padding-size: 6rem;
  --ft-padding-size: 10rem;
}

body {
  width: 100%;
  max-width: 1250px;
  height: 100vh;

  margin: 0 auto;
  padding: 3rem 5%;

  font-family: 'Quicksand', sans-serif;
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-base);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Quicksand', sans-serif;
  font-size: var(--sd-font-size);
  font-weight: 700;

  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

/*container*/
#container {
  display: grid;
  grid-template-areas:
  "header"
  "main" 
  "footer";
}

/*header*/
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*brand*/
.brand-menu-container {
  display: flex;
  align-items: center;
}

/*logo*/
.logo {
  max-width: 280px; 
}

.logo img {
  width: 90%;
}

/*menu-1*/
.menu-toggle-container {
  font-size: 3rem;
  color: var(--color-secondary);

  cursor: pointer;
  display: none;
}

/*menu-2*/
.menu {
  display: flex;
  align-items: center;
}

.menu li a {
  font-size: var(--sd-font-size);
  font-weight: 700;
  color: var(--color-base);

  padding: 1rem;
  margin-right: 1.5rem;
}

.menu li a:hover {
  color: var(--color-secondary);
  transition: .5s ease;
}

#button {
  width: 100%;
  padding: 1rem 2.5rem;
  background: var(--color-secondary);

  display: flex;
  justify-content: center;
  
  
  color: var(--color-background);

  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

#button:hover{
  opacity: 0.8;
  transition: .5s ease;
}

/*main*/
.main {
  display: grid;
  grid-template-areas:
  "greetings greetings"
  "best-destinations best-destinations"
  "reasons-to-travel reasons-to-travel"
  "prices prices";
}

/*greetings*/
.greetings {
  grid-area: greetings;
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  justify-content: center;
  align-items: center;

  padding-bottom: var(--sd-padding-size);
}

.content-invite {
  white-space: pre-line;
}

.content-invite h1 {
  font-size: var(--h1-font-size);
  font-weight: 700;

  line-height: 1.25;
  text-align: justify;

  padding-top: 2rem;
  margin-bottom: 2rem;
}

.content-invite p {
  font-size: var(--sd-font-size);
  font-weight: 600;
  color: var(--color-base);
}

.content-invite p span {
  color: var(--color-secondary);
}

/*figure-travelling*/
.figure-travelling {
  display: flex;
  justify-content: flex-end;
}

.figure-travelling img {
  width: 90%;
}

